* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.sobreNos {
  display: flex;
  flex-direction: column;
}
.aboutInfo {
  display: flex;
  align-items: center;
  font-size: 25px;
  text-align: justify;
  height: 400px;
  width: 600px;
  border-radius: 20px;
  padding: 10px;
  border: 4px solid lightgreen;
}
.s {
  text-align: center;
  font-weight: 700;
  font-style: oblique;
  padding: 10px 0;
}

.content1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.content2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
}
.img {
  margin: 50px 0;
  background-color: red;
  width: 400px;
  height: 400px;
  border: 2px solid;
}
.missao{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin-bottom: 50px;
}
.o {
  text-align: center;
  font-weight: 700;
  font-style: oblique;
  padding: 10px 0;
}
.objetiveInfo {
  display: flex;
  font-size: 25px;
  text-align: justify;
  align-items: center;
  flex-direction: row;
  height: 400px;
  width: 650px;
  border-radius: 20px;
  padding: 10px;
  border: 4px solid darkturquoise;
}
#f1 {
  background-image: url('./Sobre\ nos.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#f2 {
  background-image: url('./Nossa\ missão.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}